{% extends "ieSite/base.html" %}



{% block content %}
<div class="header alt vert">
  <div class="container">

    <h1>The Institution of Engineers</h1>
      <p class="lead">NITK Chapter</p>
      <a href="/recruitment" class="btn btn-default btn-lg">Join Us!</a>
  </div>
</div>
<br>
<div id="about" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Diversity and Exposure</h1>
        <p class="lead">We acknowledge that engineers can't just be robots on an assembly line.</p>
        <p> When you bring together a group of people from different backgrounds, you'll be surprised how diverse their lines of thought are, and yet, you'll find scores of them supporting your revolutionary ideas for different reasons. This is the kind of environment that flourishes in IE NITK.<p>
        <p> We are against convention. Your being a member of this fraternity immediately grants you the tools to reform it in your own way. Ideas may sometimes be impractical, but they are never stupid.</p>
        <p>We encourage all our members to think outside the box the system puts them in. Whether you're a budding Civil Engineer attempting to build yourself a robotic pet, or an avid coder looking for some insight on automotive design, we've got your back.</p>
        <p>And when it comes to the technical field you choose to grow in, we have the resources to get you going. You'll be working with some of the most technically proficient students in college on the most challenging and far-reaching projects you can think of, and you'll learn to do so in a systematic, professional manner. The experience to be gained from collaborating with and even potentially leading a team of engineers is invaluable.</p>
      </div>
      <div class="col-md-5">
        <h1 class="pull-right"> <img src="{{STATIC_URL}}img/rubiks.jpg" class="img-responsive col-lg-12 ">
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="featurette" id="sigs">
  <div class="container">
    <div class="row">
     <div class="col-md-12 text-center">
        <h1>Special Interest Groups (SIGs)</h1>
      </div>
    </div>
    <div class="row">
     <div class="col-md-12 text-center">
        <p>Our special interest groups (SIGs) serve the needs of the curious, the adept and the daring.</p>
        <p>Each SIG has regular knowledge exchange-oriented sessions and project meet-ups.</p>
      </div>
    </div>
    <div class="row">
     <div class="col-md-12 text-center">
        <h2>Core SIGs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <img id="code" src="{{STATIC_URL}}img/CodeSIG.png" width="200px" height="200px"/>
          <h4>Code</h4>
          <p><i>Bringing you the best hackathons and all nighters!</i></p>
          <p>Everything related to coding, applications and other software-driven products under one roof.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <img id="code" src="{{STATIC_URL}}img/GadgetSIG.png" width="200px" height="200px"/>
          <h4>Gadget</h4>
          <p><i>Forever meddling with man's best friends.</i></p>
          <p>Combining everything that an electronics or gadget freak could dream of, be it robotics, sensors or displays</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="featurette-item">
          <img id="code" src="{{STATIC_URL}}img/GarageSIG.png" width="200px" height="200px"/>
          <h4>Garage</h4>
          <p><i>There's always a mad machine to tame.</i></p>
          <p> The pitstop, not only for automobile enthusiasts, but also those interested in all things related to mechanics, structures or materials.</p>
        </div>
      </div>
    </div>
    <div class="row">
     <div class="col-md-12 text-center">
        <h2>Auxiliary SIGs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="featurette-item">
          <img id="code" src="{{STATIC_URL}}img/VriddhiSIG.png" width="200px" height="200px"/>
          <h4>Vriddhi</h4>
          <p><i>Service with a smile!</i></p>
          <p>Our social initiative, which aims at small to large scale rural development programmes in collaboration with various NGO's.</p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="featurette-item">
          <img id="code" src="{{STATIC_URL}}img/FilmSIG.png" width="200px" height="200px"/>
          <h4>Studio</h4>
          <p><i>For those who need to cut out life's boring parts.</i></p>
          <p>Regular sessions on film appreciation, discussing intricate and often technical details behind specific films. We also aim at making short films!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb" id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Events</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="col-md-3">
                <h3>King Of The Hill</h3>
            </div>
            <div class="col-md-3">
                <h3>RTFM</h3>
            </div>
            <div class="col-md-3">
                <h3>Sync</h3>
            </div>
            <div class="col-md-3">
                <h3>Logician</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="col-md-3">
                <h3>Spark</h3>
            </div>
            <div class="col-md-3">
                <h3>Weakest link</h3>
            </div>
            <div class="col-md-3">
                <h3>Analyze This</h3>
            </div>
            <div class="col-md-3">
                <h3>FindMuck</h3>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="featurette" id="team">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>IE 2014-2015</h1>
        </div>
             <img src="{{STATIC_URL}}img/ie14.jpg" class="img-responsive">
    </div>
</div>

{% endblock %}


{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}
