{% extends 'ieSite/base.html' %}

{% block title %}
SIG view
{% endblock %}

{% block content %}

<div class="vert">
  <div class="container">
    <h1>{{ sig.name }}</h1>
  </div>
</div>

<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p>{{ sig.description }}</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class-"blurb">
    <div class = "container">
        <h2> Projects </h2> 
        {% for project in projects %}
            <h3>{{project.name}}</h3>
            <h4>Head : {{project.projectHead}}</h4>
            <p></br>{{project.description}}</p>
        {%endfor%} 
    </div>
<div>

<div id="sec3" class-"blurb">
    <div class = "container">
    <h2> Articles </h2> 
    {% for article in articles %}
        <h3>{{article.title}}</h3>
        <h4>Author : {{article.author}}</h4>
        <p></br>{{article.text}}</p>
    {%endfor%} 
{% endblock %}
