
{% extends "recruitments/base.html" %}
{% load bootstrap %}



{% block content %}
<div class="container">
	<h1 class="vert">{{ title }}</h1>
	<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form role="form" class="form-vertical" method="post">
				    {% csrf_token %}
				    {{ ResumeForm|bootstrap }}
					{% if image %}
					<img src="{{ STATIC_URL }}img/picture_question.jpg" class="img-responsive col-lg-12"/>
{% endif %}
			<br>
			<br>
            <div class="form-group">
				      <button type="submit" class="btn btn-lg btn-primary center-block">Submit</button>
				    </div>
				</form>
			</div>

	</div>
</div>
{% endblock %}


{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}
