{% extends "recruitments/base.html" %}



{% block content %}
<div class="header alt vert">
  <div class="container">

    <h1>Recruitments 2016</h1>
      <hr>
      <br>
      <div class="container">
        <a href="/recruitment/submit" class="btn btn-default btn-lg">Get Started</a>
        <a href="/recruitment/results" class="btn btn-default btn-lg">View Results</a>
      </div>
  </div>
</div>
<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Already a member?</h1>
      </div>
      <div class="col-md-5">
        <h1 class="pull-right">
        	<a href="/recruitment/evaluate" class="btn btn-default btn-lg">IE Member Login/Evaluate</a>
        </h1>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}
