{% extends "recruitments/base.html" %}



{% block content %}
<div class="header alt vert">
  <div class="container">
    
    <h1>Recruitments 2015</h1>
      <p>
      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus malesuada tempor. Maecenas lacinia tincidunt lectus, et vehicula est dapibus id. Nullam ut pellentesque ipsum. Nunc ut sapien nec nulla maximus efficitur. Integer elit urna, congue a sodales ut, pulvinar eu turpis. Maecenas sollicitudin sodales est ac dignissim. Mauris consequat arcu nec nulla commodo posuere. Nullam egestas diam eu felis dictum, finibus gravida nisl ultrices. Pellentesque fringilla, urna id auctor finibus, ipsum mauris suscipit erat, non luctus ante lectus in ante. Donec iaculis quam et nisl tincidunt, in semper odio gravida. Morbi nec libero in turpis maximus venenatis sit amet non mi. Aenean sed pretium libero, porta dapibus odio. Nulla libero velit, mattis at dapibus in, posuere in sapien. Aenean mauris dolor, condimentum in dolor et, pulvinar sollicitudin justo.

		Cras ac varius tellus, eget fermentum dolor. Donec in lacus et risus tincidunt viverra sit amet vel velit. Praesent elementum ultrices tellus vitae mollis. Mauris faucibus at purus et auctor. Ut non interdum tortor. Nam hendrerit mollis odio, sit amet eleifend quam auctor vel. Praesent consectetur massa eget congue ultrices. Aenean tristique fringilla turpis eget congue. Ut dapibus massa id scelerisque hendrerit.
      </p>
      <a href="/recruitment/submit" class="btn btn-default btn-lg">Get Started</a>
      <a href="/recruitment/results" class="btn btn-default btn-lg">View Results</a>
  </div>
</div>
<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Already a member?</h1>
      </div>
      <div class="col-md-5">
        <h1 class="pull-right">
        	<a href="/recruitment/evaluate" class="btn btn-default btn-lg">IE Member Login/Evaluate</a>
        </h1>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}