{% extends "recruitments/base.html" %}



{% block content %}
<h2>Here's what awaits you at IE NITK Chapter.</h2>

<h3>Diversity and Exposure</h3>
<h4>We acknowledge that engineers can't just be robots on an assembly line.</h4>
<h5>
<p>When you bring together a group of people from different backgrounds, you'll be surprised how diverse their lines of thought are, and yet, you'll find scores of them supporting your revolutionary ideas for different reasons. This is the kind of environment that flourishes in IE NITK.</p>
<p>We are against convention. Your being a member of this fraternity immediately grants you the tools to reform it in your own way. Ideas may sometimes be impractical, but they are never stupid.</p>
<p>We encourage all our members to think outside the box the system puts them in. Whether you're a budding Civil Engineer attempting to build yourself a robotic pet, or an avid coder looking for some insight on automotive design, we've got your back.</p>
<p>And when it comes to the technical field you choose to grow in, we have the resources to get you going. You'll be working with some of the most technically proficient students in college on the most challenging and far-reaching projects you can think of, and you'll learn to do so in a systematic, professional manner. The experience to be gained from collaborating with and even potentially leading a team of engineers is invaluable.</p>
</h5>

<h3>Special Interest Groups (SIGs)</h3>
<h5>Our special interest groups (SIGs) serve the needs of the curious, the adept and the daring.<br/>Each SIG has regular knowledge exchange-oriented sessions and project meet-ups.<br/>Hover over each logo to learn more.</h5>

<img id="code" src="{{STATIC_URL}}img/CodeSIG.png" width="200px" height="200px" />
<img id="gadget" src="{{STATIC_URL}}img/GadgetSIG.png" class="inlineimg" width="200px" height="200px" />
<img id="garage" src="{{STATIC_URL}}img/GarageSIG.png" class="inlineimg" width="200px" height="200px" />
<img id="finance" src="{{STATIC_URL}}img/FinanceSIG.png" width="200px" height="200px" />
<img id="vriddhi" src="{{STATIC_URL}}img/VriddhiSIG.png" class="inlineimg" width="200px" height="200px" />
<img id="studio" src="{{STATIC_URL}}img/FilmSIG.png" class="inlineimg" width="200px" height="200px" />

<h5>We're always open to suggestions on new projects, or even new SIGs. Even if it's the first time we're seeing you.</h5>

<h3>Events</h3>
<h5>We at IE NITK Chapter love organizing fun, creative events and workshops for the ever-enthusiastic NITK crowd. <br/> <p> Whether it's overloading our contestants with mind-boggling technical dilemmas, making them run around campus in pursuit of a greater purpose or putting them through gruelling, intense discussions on the abstract and the contentious, we've done it all. </p></h5>
<span class="randomsize">
Literati`
Findmuck`
RTFM`
Analyze This`
Trailblazer`
Ka Ching`
Sync`
Introduction to Maya`
The Weakest Link`
</span>

<h4>Flagship Events</h4><p>You might remember these two from last year. They're not intended to be mere events, but spectacles.</p>
<span class="randomsize-large">
Limelight`
King of the Hill` 
</span>

<h3>And, of course...</h3>
<h4>Ample opportunities for fun, frolic and adventure.</h4>
<h5>
Apart from the rather informal project and event teams' modus operandi, we make sure we reward ourselves for the hard work we put in.<br/>
We organize several one-day and even a few longer excursions each year, and we believe in attaining fellowship through means other than work.<br/>
As an executive member of the Institution of Engineers, NITK Chapter, you're bound to leave college with three years of beautiful memories to look back on.
</h5>

<h3>The Core, 2014-15</h3>
<table>
<tr>
<th>Name</th><th>Post(s) Held</th>
</tr>
<tr>
<td>Balaruban Periyasamy</td><td>Convener</td>
</tr>
<tr>
<td>Abhishek Arora</td><td>President</td>
</tr>
<tr>
<td>(Ms.) Hiba Ahsan</td><td>Joint Convener</td>
</tr>
<tr>
<td>(Ms.) Pramati Kalwad</td><td>Vice President & Vriddhi Co-ordinator</td>
</tr>
<tr>
<td>(Ms.) Manaswini Muppalla</td><td>Treasurer</td>
</tr>
<tr>
<td>Blessen George</td><td>Secretary</td>
</tr>
<tr>
<td>Bharadwaj Lingam</td><td>Gadget SIG Head & Engineer Representative</td>
</tr>
<tr>
<td>Adit Biswas</td><td>Code SIG Head</td>
</tr>
<tr>
<td>Prasidh Naik</td><td>Garage SIG Head</td>
</tr>
<tr>
<td>Keshav Ramaswami</td><td>Finance SIG Head</td>
</tr>
<tr>
<td>Aditya Srinivasan</td><td>Events Co-ordinator</td>
</tr>
<tr>
<td>Sourav Sudhir</td><td>Gadget SIG Co-ordinator</td>
</tr>
<tr>
<td>Rohit Varkey</td><td>Code SIG Co-ordinator</td>
</tr>
<tr>
<td>Robin Singh</td><td>Garage SIG Co-ordinator</td>
</tr>
<tr>
<td>Samar Kenkre</td><td>Finance SIG Co-ordinator</td>
</tr>
</table>
{% endblock %}


{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}