{% extends "recruitments/base.html" %}



{% block content %}

<h1>Resumes to be evaluated</h1>

{% if resumes %}
<table>
	<tr>
		<th>Candidate Name</th>
		<th>Qualified for Round</th>
	</tr>
	{% for resume in resumes %}
		<tr>
			<td>{{resume.name}}</td>
			<td>{{resume.current_round}}</td>
			<td><button class="btn btn-small evaluation" href="/recruitment/evaluate/?resume_id={{resume.id}}">Evaluate</button></td>
		</tr>
	{% endfor %}
</table>

{% else %}
	<h2>All submitted resumes have been evaluated.</h2>
{% endif %}

{% endblock %}


{% block bodyscripts %}
  <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}